<header tabindex="0">Bulletin App</header>
<div id="nav-container">
  <div class="bg"></div>
  <div class="button" tabindex="0">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div id="nav-content" tabindex="0">
    <ul>
      <li>
        <a routerLink="/viewPosts">View Posts</a>
      </li>
      <li><a routerLink="/add">Add Post</a></li>
      <li><a href="/login" (click)="logout()">Logout</a></li>
    </ul>
  </div>
  <!-- <article>
    <h1>Bulletin Application</h1>
    <p>Navigate to the menu bar top left to get started !</p>
  </article> -->
</div>
